/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: black;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

/*table style*/
table {
    background-color: whitesmoke;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 2px solid black;
}

thead th {
    text-align: center;
    border-bottom: 2px solid black;
    font-size: x-large;
    font-family: "DejaVu Serif";
    font-weight: 700;
    background-color: #495057;
    color: whitesmoke;

}

tbody td {
    text-align: center;
    padding: 0.5em;
    border-bottom: 1px solid #ccc;
    font-family: "DejaVu Sans Light";
    font-size: x-large;
}


tr:nth-child(even) {
    background-color: #adb5bd;
}

tbody tr:hover {
    background-color: black;
    color: white;
}
